/* 
We are.
Austria Tourism
Stephanie Gregori
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}

/******************************************
/* TYPOGRAPHY*/
@font-face {
    font-family: Colfax;
    src: url(Colfax.otf);
}
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT 

/*******************************************/
/*Nav*/
.body {
  max-width: 980px;
  margin: 1em auto;
  font-size: 10px;
  line-height: 1.5;
}
a {
  display: inline-block;
  width:18px;
  height:18px;
  cursor: pointer;
  text-decoration: none;
}
a i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 3px;
  color:#252525;
  font:bold 14px/.4 Colfax;
  text-transform: uppercase;
  text-indent:-45px;
  background: #252525;
  transition:all .2s ease-out;
}
a i::before, a i::after {
  content:'';
  width: 18px;
  height: 3px;
  background: #252525;
  position: absolute;
  left:0;
  transition:all .2s ease-out;
}
a i::before {
  top: -7px;
}
a i::after {
  bottom: -7px;
}
a:hover i::before {
  top: -10px;
}
a:hover i::after {
  bottom: -10px;
}
a.active i {
	background: #fff;
}
a.active i::before {
  top:0;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
a.active i::after {
  bottom:0;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

/* Button placement */
a {
  position: absolute;
  left:50%;
  margin-left:-9px;
  top:5%;
  margin-top:-9px;
}
.navbar {
  display: inline-block;
  left:50%;
  margin-left:-9px;
  top:10%;
  margin-top:-9px;
  color: black;
  font:bold 10px/.2 Colfax;
  text-transform: uppercase;
}
.navbar.open{
  left:0;
}
.navbar ul{
  list-style:none;
  margin-top:40%;
  font-size:1.5em;
}
.navbar ul li{
  margin-bottom:10px;
  padding:5px;
  text-align:left;
}

.navbar ul li:hover{
  color: #ff00de;
  cursor:pointer;
}
/* Nav end */

.site-container {
	max-width: auto;
	margin: 0 auto;
	font-family: 'Colfax', sans-serif;
	background-color: pink;
	padding: 50px 30px 50px 30px;
}
.site-header h1 {
	display: center;
	color:#ff00de;
	font-size: 72px;
	font-style: bold;
	padding-top: 25%;
	margin-bottom: 0px;
}
h2 {
	font-size: 36px;
	margin-top: 0px;
}
h3 {
	font-size: 16px;
	color:#ff00de;
}
p {
	font-size: 14px;
}
.site-header {
	background-color: orange;
	text-align: center;
	height: 768px;
	margin: 0;
	padding: 0;
}
.risk {
	display: inline-block;
	width: 100px;
	padding: 10px;
}
.risk p {
	font-weight: lighter;
	font-size: 10px;
	color: grey;
}
.row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 1em 20px;
  box-sizing: border-box;
}
.row-home {
	background-color: none;
	height:768px;
	background-color: pink;
}
.row-risk {
	display: inline-block;
	background-color: orange;
}

.row-weather {
	display: inline-block;
	background-color: yellow;
}
.row-checklist {
	background-color: none;
	background-color: red;
}
.row-tools {
	background-color: none;
	background-color: green;
}
.row-data {
	background-color: none;
	height:auto;
	background-color: purple;
}

/* #home {
	background-image:url(/Users/MG/Documents/NiNi/a%20FREELANCE/GA/final-project/images/bwlines.png);
	background-size: 100%;
	background-repeat: no-repeat;
}*/
.row-footer {
	background-color: none;
	height:90px;
	background-color: blue;
}
.triangle-low {
	display: inline-block;
	width: 25%;
	height: 25%;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 50px solid #ff00de;
}
.triangle-limited {
	display: inline-block;
	width: 25%;
	height: 25%;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 50px solid #ff00de;
}
.triangle-medium {
	display: inline-block;
	width: 25%;
	height: 25%;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 50px solid #ff00de;
}
.triangle-high {
	display: inline-block;
	width: 25%;
	height: 25%;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 50px solid #ff00de;
}
.triangle-veryHigh {
	display: inline-block;
	width: 25%;
	height: 25%;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 50px solid #ff00de;
}
.site-footer {
	background: blue;
}

/******************************************
/* HELPER CLASSES
/*******************************************/
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 .5em;
}
.column {
  flex: 1;
}
[class^="column"] {
  padding: 0 .5em;
}

/* Column Spans */
.column--2of5 { flex: 0 0 40%; }
.column--1of2 { flex: 0 0 50%; }
.column--3of5 { flex: 0 0 60%; }
.column--2of3 { flex: 0 0 66.6666%; }
.column--3of4 { flex: 0 0 75%; }
.column--4of5 { flex: 0 0 80%; }

/* 100% Width Columns on Small Screens */
@media (max-width: 500px) {
  [class^="column"] {
    flex: 0 0 100%;
  }
}



/* ADDITIONAL STYLES                   
/*******************************************/




