/* 
We are.
Austria Tourism
Stephanie Gregori
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT                   
/*******************************************/

@font-face {
    font-family: Colfax;
    src: url(Colfax.otf);
}
.site-container {
	max-width: auto;
	margin: 0 auto;
	font-family: 'Colfax', sans-serif;
	background-color: pink;
	padding: 50px 30px 50px 30px;
}
.site-header {

}
.site-header h1 {
	color:#ff00de;
	font-size: 42px;
	font-style: bold;
}
$bar-width: 100px;
$bar-height: 10px;
$bar-spacing: 25px;

body {
	background: #F44336;
}

.hamburger-menu {
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: $bar-width;
	height: $bar-height + $bar-spacing*2;
	cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
  width: $bar-width;
	height: $bar-height;
}

.bar {
	position: relative;
	transform: translateY($bar-spacing);
	background: black;
	transition: all 0ms 300ms;
  
  &.animate {
    background: black; 
  }
}

.bar:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: $bar-spacing;
	background: black;
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
	content: "";
	position: absolute;
	left: 0;
	top: $bar-spacing;
	background: black;
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.bar.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}
.site-content {

}
#home {
	background-image:url(/Users/MG/Documents/NiNi/a%20FREELANCE/GA/final-project/images/bwlines.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.site-footer {

}
.triangle-low {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid blue;
}
.triangle-limited {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid blue;
}
.triangle-medium {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid blue;
}
.triangle-high {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid blue;
}
.triangle-veryHigh {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid blue;
}
.site-footer {
	background: blue;
}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




